<%= form_for(@engine) do |f| %>
  <% if @engine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@engine.errors.count, "error") %> prohibited this engine from being saved:</h2>

      <ul>
      <% @engine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div >
    <%= f.label :power_rating, :class=>"required" %>
    <%= f.select :power_rating, 1..90 %>
  </div>
  <div >
    <%= f.hidden_field :model, :value => "ENG-M-#{Time.now.strftime("%G-W%V%u-T%H%M%S")}" %>
  </div>
  <div >
    <%= f.label :fuel_type, :class=>"required" %>
    <%= f.collection_select :fuel_id, @fuel_types, :id, :fuel_type %>
  </div>
  <div class="submit-margin">
    <%= f.submit(:class => "btn btn-primary row-fluid") %>
  </div>
<% end %>
