<h2>Listing engines</h2>
<%= link_to 'New Engine', new_engine_path, :title => "Create a new engine", :class => "pull-left btn btn-success btn-lg", :role =>"button" %>
<%= link_to 'Back', root_path, :class => "pull-right btn btn-primary btn-lg", :role =>"button" %><br/><br/>
<div class="well well-large">
  <%= render_breadcrumbs %>
  <div class="well well-large alert alert-info">
    <% unless @engines.blank? %>
        <!-- Table -->  
        <table class="table table-bordered table-condensed table-striped">
          <tr>
            <th>Engine Model</th>
            <th>Power rating</th>
            <th>Fuel type</th>
            <th style="text-align:center;">Edit</th>
            <th style="text-align:center;">Delete</th>
          </tr>

          <% @engines.each do |engine| %>
            <tr>
              <td><%= link_to "#{engine.model}", engine %></td>
              <td><%= engine.power_rating %></td>
              <td><%= engine.fuel.fuel_type %></td>
              <% if engine.vehicle.blank?%>
                <td style="text-align:center;"><%= link_to (image_tag("edit.ico",:width=>"14px",:height=>"14px",:title => "Edit engine details")), edit_engine_path(engine) %></td>
                <td style="text-align:center;"><%= link_to (image_tag("destroy.ico",:width=>"14px",:height=>"14px",:title => "Delete user")), engine, method: :delete, data: { confirm: 'Are you sure?' },:remote => true, :class => 'delete_engine' %></td>
              <% else %>
                <td style="text-align:center;"><%= link_to (image_tag("stop.ico", :width=>"16px",:height=>"16px",:title=>"Can't edit, engine in use")) %></td>
                <td style="text-align:center;"><%= link_to (image_tag("stop.ico", :width=>"16px",:height=>"16px",:title=>"Can't delete, engine in use")) %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
    <% else %>    
        <center>
          <strong> No Engines created yet, please create one. </strong>
        </center>
    <% end %>
  </div>
</div>
