<h2><%= "#{@engine.model}"%></h2>

<% if current_user.admin? && session[:last_url]!=session[:url] %>
    <%= link_to 'Back', session[:last_url], :class => "pull-right btn btn-primary btn-lg", :role =>"button" %>
<% elsif !current_user.admin? && session[:last_url]!=session[:url]  %>
  <%= link_to 'Back', root_path, :class => "pull-right btn btn-primary btn-lg", :role =>"button"%>
<% end %><br/><br/>

<div class="well well-large">
  <%= render_breadcrumbs %>
  <div class="well well-large alert alert-info"> 
    <p>
      <b>Power rating:</b>
      <%= @engine.power_rating %>
    </p>

    <p>
      <b>Fuel Type:</b>
      <%= @engine.fuel.fuel_type %>
    </p>

    <p>
      <b>Model Number:</b>
      <%= @engine.model %>
    </p>
  </div>
  <% if current_user.admin? && @engine.vehicle.blank?%>
    <%= link_to 'Edit', edit_engine_path(@engine),:class=>"pull-right btn btn-warning btn-lg", :role => "button" %><br/>
  <% end %>  
</div>