<% if @edit%>
          <span><%= image_tag('change_pwd.png',:class=>"click pull-right",:title=>"Change account password")%></span>
        <% end %> 

<div class="well well-lg form-horizontal alert alert-info user-form row-fluid">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :email, :class => "control-label row-fluid", :style=>"text-align:left;" %>
      <div class="controls">
        <%= f.email_field :email, :class => "input-xlarge row-fluid", :autofocus => true %> 
      </div>
      <% if @user.created_by.blank? && user_signed_in? %>
        <%= f.hidden_field :created_by, :value => "#{current_user.id}" %>
      <% else %>
        <%= f.hidden_field :created_by, :value => 0.to_i %>          
      <% end %>        
    </div>
    <div>
   
    <% if @edit %>
      <div class="control-group " id="pwd">
    <% else %>
      <div class="control-group">
    <% end %>
      <%= f.label :password, :class => "control-label row-fluid", :style=>"text-align:left;" %>
      <div class="controls">
        <%= f.password_field :password, :class => "input-xlarge row-fluid" %>
      </div><br/>  

      <%= f.label :password_confirmation, :class => "control-label row-fluid", :style=>"text-align:left;" %>
      <div class = "controls">
        <%= f.password_field :password_confirmation, :class => "input-xlarge row-fluid" %>
      </div>  
    </div>

    <%= f.fields_for :user_detail do |detail| %>
      <div class="control-group">
        <%= detail.label :first_name, :class => "control-label row-fluid", :style=>"text-align:left;" %>
        <div class="controls">
          <%= detail.text_field :first_name, :class => "input-xlarge row-fluid", :maxlength => 30 %>
        </div>  
      </div>

      <div class="control-group">
        <%= detail.label :last_name, :class => "control-label row-fluid", :style=>"text-align:left;" %>
        <div class="controls">
          <%= detail.text_field :last_name, :class => "input-xlarge row-fluid", :maxlength => 30 %>
        </div>  
      </div>

      <div class="control-group">
        <%= detail.label :age, :class => "control-label row-fluid", :style=>"text-align:left;" %>
        <div class="controls">
          <%= detail.text_field :age, :class => "input-xlarge numeric_only row-fluid", :maxlength => 3 %>
        </div>
      </div>

      <div class="control-group">
        <%= detail.label :Gender, :class => "control-label row-fluid", :style=>"text-align:left;" %>
        <div class="controls">
        <%= detail.select :sex, options_for_select(["Male", "Female"]), :class => "input-xlarge row-fluid"%>
        </div>
      </div>

      <div class="control-group">
        <%= detail.label :phone, :class => "control-label row-fluid", :style=>"text-align:left;" %>
        <div class="controls">
          <%= detail.text_field :phone, :class => "input-xlarge numeric_only row-fluid", :maxlength => 10 %>
        </div>  
      </div>

      <div class="actions">
        <%= f.submit(:class => "btn btn-primary pull-right row-fluid") %>
      </div>
    <%end%>
  <% end %>
</div>  

