
<h2><%= @user.user_detail.first_name %>&nbsp;<%= @user.user_detail.last_name %></h2>

<% if user_signed_in? %>
  <div class="well well-large">
    <%= render_breadcrumbs %>
    <div class="well well-lg">
      <div>
        <h3><%= @user.user_detail.first_name %>&nbsp;<%= @user.user_detail.last_name %></h3>
        <p>
          <b>Age:</b>
          <%= @user.user_detail.age %>
        </p>

        <p>
          <b>Sex:</b>
          <%= @user.user_detail.sex %>
        </p>

        <p>
          <b>Phone:</b>
          <%= @user.user_detail.phone %>
        </p>

        <p>
          <b>Email:</b>
          <%= @user.email %>
        </p>
      </div>
    </div>

    <div>
      <%= image_tag 'up.png', :class=>"up",:title=>"hide vehicles"%>
      <%= image_tag 'down.png', :class=>"down",:title=>"show vehicles"%>
    </div><br/>  
    
    <div id="user_vehicles">
      <% if @vehicles%>
        <%= render :partial => 'vehicles/vehicles_list'%>
      <% end %>
    </div>
  </div>
<% else%>  
  <%= link_to 'Back', root_path, :class=>"pull-right btn btn-primary btn-lg", :role => "button"%>
<% end %><br/><br/>     