<h2>Add more vehicles</h2>
<%= link_to "Back", vehicles_path, :class=>"pull-right btn btn-primary btn-lg active", :role => "button"%><br/><br/>
<%= form_tag more_vehicles_path do %>
  <div class="well well-sm">
    <!-- Table -->
    <table class="table">
      <tr>
        <th>Select</th>
        <th>Vehicle</th>
        <th>Occupants</th>
        <th>Payload weight</th>
        <th>Construction Start date</th>
        <th>Construction Delivery date</th>
        <th></th>
        <th></th>
      </tr>

      <% @vehicles.each do |vehicle| %>  
        <tr>
          <% unless current_user.admin?%>

            <td><%= check_box_tag("check#{vehicle.id}", value = "#{vehicle.id}", 
            checked = false )%></td>
            <td><%= link_to "#{vehicle.vehicle_type}-#{vehicle.v_identifier}", vehicle %></td>
            <% if vehicle.vehicle_type == "Shuttle"%>
              <td><%= vehicle.occupants %></td>
            <% else%>
              <td>NA</td>
            <% end %>
            <% if vehicle.vehicle_type == "Satellite"%>
              <td><%= vehicle.payload_weight %></td>
            <% else%>
              <td>NA</td>
            <% end %>
            <td><%= vehicle.construction.start_date.to_date %></td>
            <td><%= vehicle.construction.delivery_date.to_date %></td>   
            <td><%#= link_to 'Show', vehicle %></td>
            <td><%= hidden_field_tag 'user_id', current_user.id %></td><br/> 
          <% end %>
        </tr>
      <% end %>
    </table><br/>
    <div class="pull-right">
    <%= submit_tag "Add",:class=>"btn btn-warning btn-lg"%>
  </div><br/><br/>
  </div>
<% end %>
