<h2>Add more vehicles</h2>
<%= link_to "Back", vehicles_path, :class=>"pull-right btn btn-primary", :role => "button"%><br/><br/>
<div class="well well-large">
  <%= render_breadcrumbs%>
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Add more vehicles</a></li>
      <li><a href="#tab2" data-toggle="tab">Deallocate vehicles</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <h3>Available vehicles :</h3>
          <%= form_tag more_vehicles_path do %>
            <table class="table table-bordered table-condensed">
              <tr>
              <%= render :partial => "vehicle_headers"%>
              </tr>
              <% @vehicles.each do |vehicle| %>  
                <tr>
                  <% unless current_user.admin?%>
                    <% unless @user_vehicles.include?vehicle.id %>
                      <td style="text-align:center;"><%= check_box_tag("check#{vehicle.id}", value = "#{vehicle.id}", checked = false )%></td>  
                      <%= render :partial => "vehicle_details", :locals => {vehicle:vehicle}%>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </table>
            <%= submit_tag "Add",:class=>"btn btn-warning pull-right"%>
          <% end %>
      </div>
      <div class="tab-pane" id="tab2">
        <div id="user_vehicles">
          <h3>Added vehicles :</h3>
          <%= form_tag remove_vehicles_path do %>
            <table class="table table-bordered table-condensed">
              <tr>
                <%= render :partial => "vehicle_headers"%>
              </tr>
              <% @vehicles.each do |vehicle| %>  
                <tr>
                  <% unless current_user.admin?%>
                    <% if @user_vehicles.include?vehicle.id %>
                      <td style="text-align:center;"><%= check_box_tag("check#{vehicle.id}", value = "#{vehicle.id}", checked = false )%></td>  
                      <%= render :partial => "vehicle_details", :locals => {vehicle:vehicle}%>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </table>
            <%= submit_tag "Deallocate",:class=>"btn btn-warning pull-right"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



