<div class="well well-large alert-info">
  <%= form_for(@vehicle) do |f| %>
    <% if @vehicle.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

        <ul>
          <% @vehicle.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= f.label :vehicle_type %>
      <%= f.select :vehicle_type, @vehicle_types %>
    </div>
    <div>
      <%= f.label :vehicle_engine %>
      <%= f.collection_select :engine_id, @engines, :id, :model %>
    </div>
    <div>
      <%= label_tag 'name', 'Power'%>
      <%= text_field_tag :power, nil, :disabled => true %>
    </div>
    <div id="occupants">
      <%= f.label :occupants %>
      <%= f.number_field :occupants, :class=>"numeric_only" %><abbr title="required"> *</abbr>
    </div>
    <div id="payload_weight">
      <%= f.label :payload_weight_in_kgs %>
      <%= f.text_field :payload_weight, :readonly => true %>
      <%= f.hidden_field :v_identifier %>
    </div>
    <%= f.fields_for :construction do |ff| %>
      <div>
        <%= ff.label :start_date %>
        <%= ff.text_field :start_date, :id=> "start_date", :placeholder => "Start date" %>
        <abbr title="required"> *</abbr>
      </div>
      <div>
        <%= ff.label :delivery_date %>
        <%= ff.text_field :delivery_date, :id=> "delivery_date", :placeholder => "End date" %>
        <abbr title="required"> *</abbr>
      </div>  
    <% end %>
    <div >
      <%= f.submit %>
    </div>
  <% end %>
</div>