<div class="well well-large form-horizontal alert alert-info user-form row-fluid">
  <%= form_for(@vehicle) do |f| %>
    <% if @vehicle.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

        <ul>
          <% @vehicle.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :vehicle_type, :class => "required control-label ", :style=>"text-align:left;" %>
      <div class="controls">
        <%= f.select :vehicle_type, @vehicle_types, :class => "input-xlarge row-fluid", :autofocus => true %>
      </div>
     </div>
      
    <div class="control-group">
      <%= f.label :vehicle_engine, :class => "control-label required", :style=>"text-align:left;" %>
      <div class="controls">
        <%= f.collection_select :engine_id, @engines, :id, :model, :class => "input-xlarge row-fluid", :autofocus => true %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag 'name', 'Power',:class => "control-label required", :style=>"text-align:left;"%>
      <div class="controls">   
        <%= text_field_tag :power, nil, :disabled => true, :class => "input-xlarge row-fluid", :autofocus => true %>
      </div>
    </div>

    <div id="occupants" class="control-group">
      <%= f.label :occupants, :class => "control-label required", :style=>"text-align:left;" %>
      <div class="controls"> 
        <%= f.number_field :occupants, :class=>"numeric_only input-xlarge row-fluid" %>
      </div>  
    </div>

    <div id="payload_weight" class="control-group">
      <%= f.label :payload_weight_in_kgs, :class => "control-label required", :style=>"text-align:left;" %>
      <div class="controls">
        <%= f.text_field :payload_weight, :readonly => true, :class => "input-xlarge row-fluid" %>
      </div>  
      <%= f.hidden_field :v_identifier %>
    </div>

    <%= f.fields_for :construction do |ff| %>
      <div class="control-group">
        <%= ff.label :start_date, :class => "control-label required", :style=>"text-align:left;" %>
        <div class="controls">  
          <%= ff.text_field :start_date, :id=> "start_date", :placeholder => "Start date", 
          :class => "input-xlarge row-fluid" %>
         
        </div>
      </div>

      <div class="control-group">
        <%= ff.label :delivery_date, :class => "control-label required", :style=>"text-align:left;" %>
        <div class="controls">
          <%= ff.text_field :delivery_date, :id=> "delivery_date", :placeholder => "End date",
          :class => "input-xlarge row-fluid" %>
          
        </div>
      </div>    
    <% end %>
    <div >
      <%= f.submit(:class => "btn btn-primary pull-right row-fluid") %>
    </div>
  <% end %>
</div>