<!-- Vehicles Listing -->
  <% unless @vehicles.blank?%>
    <table class="table table-bordered table-condensed table-striped">
      <tr>
        <th>Vehicle</th>
        <th>Engine model</th>
        <th>Occupants</th>
        <th>Payload weight</th>
        <th>Start date</th>
        <th>Delivery date</th>
        <th>Shared by</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @vehicles.each do |vehicle| %>
        <tr>
          <td><%= link_to "#{vehicle.vehicle_type}-#{vehicle.v_identifier}", vehicle %></td>
          <td><%= link_to "#{vehicle.engine.model}", vehicle.engine%></td>
          <% if vehicle.vehicle_type == "Shuttle"%>
            <td><%= vehicle.occupants %></td>
          <% else%>
            <td>NA</td>
          <% end %>
          <% if vehicle.vehicle_type == "Satellite"%>
            <td><%= vehicle.payload_weight %></td>
          <% else%>
            <td>NA</td>
          <% end %>  
          <td><%= vehicle.construction.start_date.to_date %></td>
          <td><%= vehicle.construction.delivery_date.to_date %></td>
          <td><%= Vehicle.get_sharer(vehicle)%></td>
          <td><%= link_to (image_tag("edit.ico",:width=>"14px",:height=>"14px",:title => "Edit Vehicle Details")), edit_vehicle_path(vehicle) %></td>
          <% if vehicle.construction.delivery_date.to_date > Time.now.to_date %>
            <td><%= image_tag("stop.ico", :width=>"16px",:height=>"16px",:id => "stop", :title => "Vehicle still under construction")
            %></td>
          <% else %>  
            <td><%= link_to (image_tag("destroy.ico",:width=>"14px",:height=>"14px",:title => "Delete Vehicle")), vehicle, :method => :delete, data: 
              { confirm: "Are you sure you want to remove #{vehicle.vehicle_type}-#{vehicle.v_identifier} from you vehicles list ?" }, :remote => true, :class => 'delete_vehicle' %></td>
           <% end %>   
          <% if current_user.admin? %>
            <td><%= link_to 'Share/Unshare', share_vehicles_with_users_path(vehicle),:title => "Allocate vehicles to users" %></td>
          <% else %>      
            <td><%= link_to (image_tag("share.png",:width=>"16px",:height=>"16px", :title => "Share vehicle with other users")), share_vehicles_with_users_path(vehicle) %>
            </td>
          <%end%>      
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="panel-body panel-warning">
      <center>
        <strong> No vehicles assigned/created yet, please add vehicle. </strong>
      </center>
    </div>
  <% end %> 
<!-- Vehicles Listing -->
