
<h2><%= @vehicle.vehicle_type %>-<%= @vehicle.v_identifier %></h2>
<% if current_user.admin? && session[:last_url]!=session[:url] %>
    <%= link_to 'Back', session[:last_url], :class => "pull-right btn btn-primary btn-lg", :role =>"button" %>
<% elsif current_user.admin? && session[:last_url]==session[:url]  %>
  <%= link_to 'Back', root_path, :class => "pull-right btn btn-primary btn-lg", :role =>"button"%>
<% end %><br/><br/>
<div class="well well-sm">
  <%= render_breadcrumbs %>
	<div class="well well-sm">	
		<p>
		  <b>Vehicle Type:</b>
		  <%= @vehicle.vehicle_type %>
		</p>

		<% if @vehicle.vehicle_type == "Shuttle" %>
			<p>
			  <b>Occupants:</b>
			  <%= @vehicle.occupants %>
			</p>
		<% else %>
			<p>
			  <b>Payload weight:</b>
			  <%= @vehicle.payload_weight %>
			</p>
		<% end %>

		<p>
		  <b>Vehicle identifier:</b>
		  <%= @vehicle.v_identifier %>
		</p>

		<div style="margin-bottom:44px;">
			
			<%= link_to 'Vehicle Users', info_vehicle_path(@vehicle,:info => "first_url"),:class => "pull-left btn btn-default btn-lg", :role =>"button" %>
	   
			<%= link_to 'Vehicle Engine', info_vehicle_path(@vehicle,:info => "second_url"),:class => "pull-left btn btn-default btn-lg", :role =>"button" %>
		</div>
	</div>
	<%= link_to 'Edit', edit_vehicle_path(@vehicle),:class => "pull-right btn btn-warning btn-lg", :role =>"button" %>&nbsp;
</div>


