<h2>Listing Vehicle Types</h2>
<%= link_to 'New Vehicle type', new_vehicle_type_path %>  <%= link_to 'Back', root_path, :class => "pull-right" %><br/><br/>
<div class="well well-sm">
  <!-- Table -->
  <table class="table">
    <tr>
      <th>Vehicle Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @vehicle_types.each do |vehicle_type| %>
      <tr>
        <td><%= vehicle_type.kind %></td>
        <td><%= link_to 'Show', vehicle_type %></td>
        <td><%= link_to 'Edit', edit_vehicle_type_path(vehicle_type) %></td>
        <td><%= link_to 'Destroy', vehicle_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>
<br />

