<%= form_for(@fuel) do |f| %>
  <% if @fuel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fuel.errors.count, "error") %> prohibited this fuel from being saved:</h2>

      <ul>
      <% @fuel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%= f.label :engine_id %><br />
    <%= f.number_field :engine_id %>
  </div> -->
  <div class="field">
    <%= f.label :fuel_type %><br />
    <%= f.text_field :fuel_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
