<%= form_for(@fuel) do |f| %>
  <% if @fuel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fuel.errors.count, "error") %> prohibited this fuel from being saved:</h2>

      <ul>
      <% @fuel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fuel_type %>
    <%= f.text_field :fuel_type %>
  </div>
  <div class="submit-margin">
    <%= f.submit(:class => "btn btn-primary row-fluid") %>
  </div>
<% end %>
