<h2>Listing fuels</h2>
<%= link_to 'New Fuel', new_fuel_path,:title => "Create a new engine", :class => "pull-left btn btn-success btn-lg", :role =>"button" %>
<%= link_to 'Back', root_path, :class => "pull-right btn btn-primary btn-lg", :role =>"button" %><br/><br/>
<div class="well well-small" >
  <%= render_breadcrumbs %>
  <div class="well well-small alert alert-info form-small" >
    <!-- Table -->
    <table class="table table-bordered table-condensed table-striped">
      <tr>
        <th>Fuel type</th>
        <th></th>
        <th></th>
      </tr>

      <% @fuels.each do |fuel| %>
        <tr>
          <td><%= link_to "#{fuel.fuel_type}", fuel %></td>
          <td style="text-align:center;"><%= link_to (image_tag("edit.ico", :width=>"14px",:height=>"14px",:title=>"Edit fuel detail")), edit_fuel_path(fuel) %></td>
          <% if fuel.engines.blank?%>
            <td style="text-align:center;"><%= link_to (image_tag("destroy.ico", :width=>"14px",:height=>"14px",:title=>"delete fuel type")), fuel, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => "delete_fuel" %></td>
          <% else%>
            <td style="text-align:center;"><%= link_to (image_tag("stop.ico", :width=>"16px",:height=>"16px",:title=>"Fuel can't be deleted")) %></td>
          </tr>
          <% end %>
      <% end %>
    </table>
  </div>
  </div>