<!DOCTYPE html>
<html>
  <head>
    <title>Factory</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'Space Vehicle Factory', root_path, :class =>"brand" %>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <ul class="nav">
              <li><%= link_to 'Users', users_path %></li>
              <li><%= link_to 'Vehicles', vehicles_path %></li>
              <li><%= link_to 'Vehicle types', vehicle_types_path %></li>
              <li><%= link_to 'Engines', engines_path %></li>
              <li><%= link_to 'Fuels', fuels_path %></li>
            </ul>
            <ul class="nav pull-right">
              <li><div class="nav-top">Logged in as Admin | <%= link_to 'Logout', destroy_user_session_path, method: :delete%></div></li></ul>
          <% else %>
            <ul class="nav">
              <li><%= link_to 'Vehicles', vehicles_path %></li>
              <li><%= link_to 'My profile', current_user %></li></ul>
            <ul class="nav pull-right">  
              <li><div class="nav-top">
                Logged in as <%=current_user.user_detail.first_name%> | <%= link_to 'Logout', destroy_user_session_path, method: :delete%></div></li>
            </ul>  
          <% end %>  
        <% end %>  
      </div>
    </div>
    <% if user_signed_in? %>
      <%- flash.each do |name, msg| -%>
        <% if name == :error %>
          <div class="alert alert-error center-text" id="test">
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          </div>
        <% else %>
          <div class="alert alert-success center-text" id="test">
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          </div> 
        <% end %>  
      <%- end -%>
    <% end %>
  </div><br/><br/>
  
  <body class="master-color">
    <div class="container container-spacing">
      <%= yield %>
    </div> 
  </body>

  <div>
    <% if user_signed_in?%>
      <div class="nav-footer">
        <p><%= link_to 'Add new users', new_user_path, :class => "btn btn-primary btn-lg", :role=>"button" %> or <button class="btn btn-primary btn-lg" data-toggle="modal"   data-target="#myModal">Login as another user</button>
        </p>
      </div> 
    <% end %>
  </div>
</html>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Login as another user</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to login as another user?</p>
        Press 'Yes' to continue or 'No' to cancel.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
        <%= link_to 'Yes',destroy_user_session_path, method: :delete, :class => "btn btn-primary", :role=>"button" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




