<!DOCTYPE html>
<html>
	<head>
	  <title>Factory</title>
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>



  

    <div class="navbar navbar-static">

        <div class="navbar-inner">

            <%= link_to 'Space Vehicle Factory', root_path, :class =>"brand" %>

            <ul class="nav">
                <!-- <li><a href="#">Home</a></li> -->
            </ul>

            <ul class="nav pull-right">
            	<% if user_signed_in? %>
	  	  				<% if current_user.admin? %>
		      				<li><div style="margin-top:9px;">Logged in as Admin | <%= link_to 'Logout', destroy_user_session_path, method: :delete%></div></li>
    						<% else %>  
		      				<li><div style="margin-top:9px;">Logged in as <%=current_user.user_detail.first_name%> | <%= link_to 'Logout', destroy_user_session_path, method: :delete%></div></li>
								<% end %>  
							<% end %>  

                <!-- <li><a href="#">Admin</a></li> -->

            </ul>

        </div>

    </div><br/><br/><br/>
   

	<body>
	  <div class="container">
		  <%= yield %>
		</div> 
	</body>
	  <div class="footer">
  		<% if user_signed_in?%>
	  		<p><%= link_to 'Add new users', new_user_path, method: :delete, :class => "btn btn-primary btn-lg active", :role=>"button" %> or <%= link_to 'Login as another user',destroy_user_session_path, method: :delete, :class => "btn btn-primary btn-lg active", :role=>"button" %></p> 
			<% else %>
				<p><%= link_to 'Add new users', new_user_path, :class => "btn btn-primary btn-lg active", 
	  		:role=>"button" %> or <%= link_to 'Login as another user',new_user_session_path, :class => "btn btn-primary btn-lg active", 
	  		:role=>"button" %></p> 
			<% end %>
    </div>
</html>